<h2>Manual entry</h2>
<form ng-submit="submitBook()">
    <label for="">
        Title
        <input type="text" ng-model="title">
    </label>
    <label for="">
        Author
        <input type="text" ng-model="author">
    </label>
    <label for="">
        Publisher
        <input type="text" ng-model="publisher">
    </label>
    <label for="">
        Year
        <input type="text" ng-model="year">
    </label>
    <label for="">
        # of Pages
        <input type="text" ng-model="pages">
    </label>
    <input type="submit" value="Add book">
</form>