<content padding="true" has-header="true">
  <h3>Enter it manually</h3>
  <p>Books pre-1970 don't have ISBN numbers so you can search for them in our database or add in the data by hand</p>


  <form ng-show="connection_available" ng-submit="searchAmazon()" class="clearfix search-container">
      <label class="item item-input">
        <input type="search" ng-model="q" placeholder="ISBN, title or author">
      </label>
      <input type="submit" value="Search" class="button button-block button-balanced">
  </form>

  <form ng-show="connection_available ? false : true" class="clearfix search-container">
      <label class="item item-input">
        <input type="search" ng-model="q" placeholder="ISBN, title or author" disabled>
      </label>
      <input type="submit" value="Search" class="button button-block button-stable" disabled>
  </form>

  <div class="center">
    <img ng-show="working" src="img/ryan-loader.gif" alt="" />
  </div>

  <a ui-sref="tab.addmanually" class="button button-clear button-stable">Can't find it? Type it in here</a>
</content>
