<div>
    <img ng-src="{{book.image}}" alt="">
    <div>
        <strong>{{book.title}}</strong>
    </div>
    <div>by {{book.author}}</div>
    <div>ISBN {{book.isbn}}</div>

    <div ng-if="book.exists_in_library">
        <a href=""  ng-click="removeFromLibrary(book.id)">
            Remove from library
        </a>
        <br/><br/>
        <a href=""  ng-click="loannBook()">
            Loan this book
        </a>
    </div>

    <div ng-if="book.exists_in_library ? false : true">
        <a href=""  ng-click="addToLibrary()">
            + Add to library
        </a>
        <br/><br/>
        <a href=""  ng-click="addToLibrary()">
            Buy this book ( {{book.price}} )
        </a>
    </div>


</div>

