<header class="clearfix main-header">
    <div class="left">
      <a href="index.html"><span class="circle-icon">&lt;</span></a>
    </div>
    <div class="center">
      <img src="img/logo-trans-small.png" width="70px" alt="">
    </div>
    <div class="right"></div>
</header>
<div class="main-window">
    <div class="button-group">
      <a ng-click="scanBook()" class="button green">
        Scan ISBN <img ng-show="working" src="img/ajax-loader.gif" alt="" />
      </a>
      <a href="#/add" class="button green">No ISBN? Enter it manually</a>
    </div>
</div>