<content padding="true" has-header="true">
  <h3>Select a friend you'd like to loan the book to</h3>
  <form>
     <label class="item item-input">
      <i class="icon icon-search placeholder-icon"></i>
      <input type="search" ng-model="search.name" placeholder="Search by name">
    </label>
  </form>
  <list class="list">
    <item ng-repeat="contact in filtered_contacts = ( contacts | filter:search:strict )">
      <a href="" ng-click="loanToContact(contact.id, contact.name)" class="item">
        {{contact.name}}
      </a>
    </item>
    <item ng-show="filtered_contacts.length == 0">Nothing found for search: '{{search.name}}'</item>
  </list>
</content>