  <header class="bar bar-header bar-positive">
    <h1 class="title">Stacks</h1>
  </header> 
  <content class="main-window" has-header="true" padding="true">
        <a ui-sref="tab.build" class="button button-block button-stable">Build Your Library!</a>
        <a ui-sref="tab.library" class="button button-block button-stable">View your library</a>
        <a ui-sref="tab.loans" class="button button-block button-stable">Loaned Books</a>
    <!-- <section ng-controller="ryantest">
      <div class="bottom-button" ng-click="moveit()"> +<span>Add a Book</span> </div>
      <a id="thingy" ng-click="scanBook()">Scan a book</a>
      <a id="thingy2" ui-sref="tab.add">Add by hand</a>
    </section> -->
  </content>