<div class="startup">
  <div class="main-window">
    <header>
      <img src="img/logo-trans.png" alt="">
    </header>
    <article class="bottom">
      <div class="quatro">
        <a ui-sref="tab.build">Build Your Library!</a>
        <a ui-sref="tab.library">View your library</a>
        <a ui-sref="tab.loans">Loaned Books</a>
      </div>
    </article>
    <section ng-controller="ryantest">
      <div class="bottom-button" ng-click="moveit()"> +<span>Add a Book</span> </div>
      <a id="thingy" ng-click="scanBook()">Scan a book</a>
      <a id="thingy2" ui-sref="tab.add">Add by hand</a>
    </section>
  </div>
</div>