<header class="clearfix main-header">
    <div class="left">
      <a href="index.html"><span class="circle-icon">&lt;</span></a>
    </div>
    <div class="center">
      <img src="img/logo-trans-small.png" width="70px" alt="">
    </div>
    <div class="right"></div>
</header>
<div class="main-window">
    <h2>Books in your library</h2>
    <ul>
      <li ng-repeat="book in books">
        <img ng-src="{{book.image}}" alt="">
        <strong>{{book.title}}</strong>
        <em>by {{book.author}}</em>
        <em>ISBN {{book.isbn}}</em>

        <a href="" ng-click="removeFromLibrary(book.id)" style="color: red;">x remove</a>
      </li>    
    </ul>
</div>