<header class="clearfix main-header">
    <div class="left">
      <a href="index.html"><span class="circle-icon">&lt;</span></a>
    </div>
    <div class="center">
      <img src="img/logo-trans-small.png" width="70px" alt="">
    </div>
    <div class="right"></div>
</header>

<div class="main-window">
  <h2>Books in your library</h2>
  <form class="clearfix search-container full-width">
      <input type="search" ng-model="search" placeholder="Search ISBN, title or author" style="border: solid 1px #ccc;" class="ng-pristine ng-valid"> 
  </form>
  <ul class="list">
    <li ng-repeat="book in lbooks = ( books | filter:search )">
      <a href="#/book?isbn={{book.isbn}}" class="clearfix">
        <img ng-src="{{book.image}}" alt="">
        <div>
          <h4>{{book.title}}</h4>
          <p class="light">by {{book.author}}</p>
        </div>
        <!-- <a href="" ng-click="removeFromLibrary(book.id)" style="color: red;">x remove</a> -->
      </a>
    </li>
    <li ng-show="lbooks.length == 0">Nothing found for search: {{search}}!</li>
  </ul>
</div>