<content padding="true" has-header="true">
  <h3>Books in your library</h3>


    <form class="clearfix">
      <label class="item item-input">
        <i class=" icon-search placeholder-icon"></i>
        <input type="search" ng-model="search" placeholder="Search">
      </label>
    </form>
    <list class="list">
      <item ng-repeat="book in filtered_books = ( books | filter:search )" ng-href="#/tab/book/{{book.id}}">
        <img ng-src="{{book.image}}" alt="">
        <h2>{{book.title}}</h4>
        <p>by {{book.author}}
          <span ng-if="book.loaned_date" class="block">
            <span class="badge badge-calm badge-small">On Loan</span>
          </span>
            <!-- With {{book.loaned_to_contact_name}} since {{book.nice_loaned_date}} -->
        </p>
      </item>
      <item ng-show="filtered_books.length == 0">Nothing found for search: '{{search}}'</item>
    </list>
</content>