<content padding="true" has-header="true">
  <h3>Loaned out books</h3>
  <form name="filterform" class="clearfix search-container full-width">
      <label class="item item-input">
        <i class="icon icon-search placeholder-icon"></i>
        <input name="search" type="search" ng-model="search" placeholder="Search"> 
      </label>
  </form>
  <list option-buttons="loanButtons">
    <item ng-repeat="book in lbooks = ( books | filter:search )" item="book" href="#/tab/book/{{book.id}}">
      <img ng-src="{{book.image}}" alt="">
      <h2>{{book.title}}</h2>
      <p>by {{book.author}}
        <span class="block" ng-if="book.loaned_to_contact_id.length > 0">
          <span class="badge badge-small badge-calm">
            {{book.loaned_to_contact_name}}<!--  since {{book.nice_loaned_date}} -->
          </span>
        </span>
      </p>
    </item>
    <item ng-show="search.length > 0 && lbooks.length == 0">Nothing found for search: '{{search}}'</item>
  </list>

</content>