<header class="bar bar-header bar-positive">
  <a ng-show="hasbackbutton" ng-click="back()" class="button icon icon-arrow-back button-clear"></a>
  <h1 class="title">Stacks</h1>
  <a ui-sref="home" class="button icon icon-home button-clear"></a>
</header>
   <!--  <div class="left">
      <a ng-click="back()"><span class="circle-icon">&lt;</span></a>
    </div>
    <div class="center">
      <img src="img/logo-trans-small.png" width="70px" alt="">
    </div>
    <div class="right">
    </div>
</header> -->