/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/modules/_grid.sass */
.column {
  float: left;
  margin-right: 6%;
}
/* line 4, ../sass/modules/_grid.sass */
.column:last-of-type {
  margin-right: 0;
}

/* line 7, ../sass/modules/_grid.sass */
.half {
  width: 46%;
}

/* line 1, ../sass/modules/_startup.sass */
.startup {
  background: #537c56;
  height: 100%;
}
/* line 4, ../sass/modules/_startup.sass */
.startup header {
  height: 43.5%;
  padding: 70px 0 0;
}
/* line 7, ../sass/modules/_startup.sass */
.startup article {
  height: 56.5%;
}
/* line 10, ../sass/modules/_startup.sass */
.startup img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

/* line 1, ../sass/modules/_general.sass */
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/modules/_general.sass */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  overflow: hidden;
  position: relative;
}

/* line 15, ../sass/modules/_general.sass */
.left {
  float: left;
}

/* line 18, ../sass/modules/_general.sass */
.right {
  float: left;
}

/* line 21, ../sass/modules/_general.sass */
.center {
  text-align: center;
}

/* line 24, ../sass/modules/_general.sass */
.main-window {
  padding: 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 84px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 34, ../sass/modules/_general.sass */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 38, ../sass/modules/_general.sass */
.clearfix:after {
  clear: both;
}

/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 46, ../sass/modules/_general.sass */
.clearfix {
  *zoom: 1;
}

/* line 50, ../sass/modules/_general.sass */
a, a:active, a:link {
  text-decoration: none;
  color: inherit;
}

/* line 54, ../sass/modules/_general.sass */
*, header, a, div, section, li, ul {
  box-sizing: border-box;
}

/* line 57, ../sass/modules/_general.sass */
.item {
  margin-top: 1em;
}

/* line 60, ../sass/modules/_general.sass */
.search-container.full-width input[type=search] {
  width: 100%;
}

/* line 63, ../sass/modules/_general.sass */
h1, h2, h3, h4, h5, h6, p, label, a, li, ul {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/* line 1, ../sass/modules/_form.sass */
input {
  border: 1px #e6e6e6 solid;
  padding: 1em;
  margin: 0;
  border-radius: 3px;
  -webkit-appearance: none;
  width: 100%;
}

/* line 9, ../sass/modules/_form.sass */
label {
  margin-bottom: 0.5em;
  display: block;
}

/* line 14, ../sass/modules/_form.sass */
.search-container input[type=search] {
  width: 80%;
  border-radius: 3px 0 0 3px;
  padding-left: 0.75em;
  border-right: none;
  float: left;
}
/* line 21, ../sass/modules/_form.sass */
.search-container input[type=submit] {
  width: 20%;
  border-radius: 0 3px 3px 0;
  border: 1px #af5841 solid;
  float: left;
  -webkit-appearance: none;
  text-align: center;
  padding: 0.81rem 0;
}

/* line 29, ../sass/modules/_form.sass */
form {
  margin-top: 1em;
}

/* line 1, ../sass/modules/_list.sass */
ul.list {
  list-style: none;
  margin-top: 1em;
}
/* line 5, ../sass/modules/_list.sass */
ul.list li a {
  padding: 1em 0;
  border-top: 1px solid #e6e6e6;
  display: block;
}
/* line 9, ../sass/modules/_list.sass */
ul.list img {
  float: left;
  margin-right: 1em;
  max-width: 60px;
}

/* line 5, ../sass/modules/_quatro.sass */
.quatro a {
  display: block;
  float: left;
  width: 49%;
  margin-right: 2%;
  height: 141px;
  border: 1px solid white;
  color: white;
  padding: 0.5em;
  margin-top: 2rem;
}
/* line 17, ../sass/modules/_quatro.sass */
.quatro a:hover, .quatro a:active, .quatro a:focus {
  background: #537c56;
}
/* line 20, ../sass/modules/_quatro.sass */
.quatro a:nth-of-type(2n) {
  margin-right: 0;
}
/* line 23, ../sass/modules/_quatro.sass */
.quatro a:nth-of-type(n+3) {
  margin-top: 2%;
}

@font-face {
  font-family: "InconsolataReg";
  src: url("../fonts/inconsolata-regular-webfont.eot");
  src: url("../fonts/inconsolata-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/inconsolata-regular-webfont.woff") format("woff"), url("../fonts/inconsolata-regular-webfont.ttf") format("truetype"), url("../fonts/inconsolata-regular-webfont.svg#InconsolataReg") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "InconsolataBold";
  src: url("../fonts/inconsolata-bold-webfont.eot");
  src: url("../fonts/inconsolata-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/inconsolata-bold-webfont.woff") format("woff"), url("../fonts/inconsolata-bold-webfont.ttf") format("truetype"), url("../fonts/inconsolata-bold-webfont.svg#InconsolataBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

/* line 4, ../sass/modules/_typography.sass */
body {
  font-family: "InconsolataReg", helvetica neue, helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
}

/* line 9, ../sass/modules/_typography.sass */
input {
  font-size: 1em;
  font-family: "InconsolataReg", helvetica neue, helvetica, sans-serif;
}

/* line 14, ../sass/modules/_typography.sass */
h1, h2, h3, h4 {
  font-family: "InconsolataBold", helvetica neue, helvetica, sans-serif;
}

/* line 16, ../sass/modules/_typography.sass */
h1 {
  font-size: 2em;
}

/* line 18, ../sass/modules/_typography.sass */
h2 {
  font-size: 1.5em;
}

/* line 20, ../sass/modules/_typography.sass */
h3 {
  font-size: 1.2em;
}

/* line 22, ../sass/modules/_typography.sass */
p {
  font-size: 1em;
  line-height: 1.4;
  margin-top: 1em;
}

/* line 26, ../sass/modules/_typography.sass */
p.light {
  color: #999999;
  margin-top: 0;
}

/* line 29, ../sass/modules/_typography.sass */
.light {
  font-family: "InconsolataReg", helvetica neue, helvetica, sans-serif;
  font-weight: 200;
  color: #999999;
}

/* line 1, ../sass/modules/_header.sass */
.main-header {
  background: #537c56;
  padding: 2em 0.5em 0.75em;
  color: white;
}
/* line 6, ../sass/modules/_header.sass */
.main-header .left {
  float: left;
  width: 20%;
}
/* line 10, ../sass/modules/_header.sass */
.main-header .center {
  float: left;
  width: 60%;
  text-align: center;
}
/* line 15, ../sass/modules/_header.sass */
.main-header .right {
  float: left;
  width: 20%;
  text-align: right;
}
/* line 20, ../sass/modules/_header.sass */
.main-header a, .main-header a:active, .main-header a:visited {
  color: white;
  text-decoration: none;
  font-size: 0.75em;
}

/* line 26, ../sass/modules/_header.sass */
.circle-icon {
  border-radius: 1000px;
  border: 1px white solid;
  padding: 0.5em 0.75em;
  display: inline-block;
}

/* line 1, ../sass/modules/_buttons.sass */
a.button {
  border-radius: 3px;
  width: 100%;
  display: inline-block;
  color: white;
  padding: 1em;
  text-align: center;
}
/* line 8, ../sass/modules/_buttons.sass */
a.button.green {
  background: #537c56;
}

/* line 11, ../sass/modules/_buttons.sass */
.button:hover {
  background-color: inherit;
}

/* line 14, ../sass/modules/_buttons.sass */
.button:focus {
  background-color: #3f5d41;
}

/* line 17, ../sass/modules/_buttons.sass */
.button-group {
  margin-top: 1em;
}
/* line 19, ../sass/modules/_buttons.sass */
.button-group .button {
  margin-top: 1em;
}
/* line 21, ../sass/modules/_buttons.sass */
.button-group .button:first-of-type {
  margin-top: 0;
}

/* line 24, ../sass/modules/_buttons.sass */
.orange {
  background: #af5841;
  color: white;
}

/* line 28, ../sass/modules/_buttons.sass */
.gray {
  background: #e6e6e6;
  color: #444444 !important;
}

/* line 1, ../sass/modules/_check.sass */
.check {
  background: #af5841;
  border-radius: 1000px;
  color: white;
  padding: 4em;
  display: block;
  width: 145px;
  margin: 0 auto;
}

/* line 1, ../sass/modules/_bottom-button.sass */
.bottom-button {
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  background: #537c56;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  bottom: 0;
  margin-left: -50px;
  left: 50%;
  z-index: 1;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  padding: 10px 0 0 0px;
  text-align: center;
  line-height: 1.1rem;
}
/* line 22, ../sass/modules/_bottom-button.sass */
.bottom-button span {
  display: block;
  font-weight: 200;
  font-size: 12px;
}

/* line 28, ../sass/modules/_bottom-button.sass */
#thingy, #thingy2 {
  -webkit-transition: all 0.1s ease-in;
  transform: translate3d(0, 0, 0);
  position: absolute;
  bottom: 0;
  margin-left: -50px;
  left: 50%;
  color: white;
}

/* line 38, ../sass/modules/_bottom-button.sass */
#thingy.wrap {
  -webkit-transform: translate3d(-60px, -70px, 0);
}

/* line 40, ../sass/modules/_bottom-button.sass */
#thingy2.wrap {
  -webkit-transform: translate3d(60px, -70px, 0);
}

/*
 * ionic framework files
 */
/**
 * Animations
 * --------------------------------------------------
 * The animations in this file are "simple" - not too complex
 * and pretty easy on performance. They can be overidden
 * and enhanced easily.
 */
/**
 * Keyframes
 * --------------------------------------------------
 */
@-webkit-keyframes slideInUp {
  /* line 18, ../bower_components/ionic/scss/_animations.scss */
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  /* line 22, ../bower_components/ionic/scss/_animations.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes slideOutUp {
  /* line 28, ../bower_components/ionic/scss/_animations.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  /* line 32, ../bower_components/ionic/scss/_animations.scss */
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}

@-webkit-keyframes slideInFromLeft {
  /* line 42, ../bower_components/ionic/scss/_animations.scss */
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  /* line 43, ../bower_components/ionic/scss/_animations.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInFromLeft {
  /* line 46, ../bower_components/ionic/scss/_animations.scss */
  from {
    -moz-transform: translateX(-100%);
  }

  /* line 47, ../bower_components/ionic/scss/_animations.scss */
  to {
    -moz-transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  /* line 50, ../bower_components/ionic/scss/_animations.scss */
  from {
    transform: translateX(-100%);
  }

  /* line 51, ../bower_components/ionic/scss/_animations.scss */
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  /* line 59, ../bower_components/ionic/scss/_animations.scss */
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }

  /* line 60, ../bower_components/ionic/scss/_animations.scss */
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInFromRight {
  /* line 63, ../bower_components/ionic/scss/_animations.scss */
  from {
    -moz-transform: translateX(100%);
  }

  /* line 64, ../bower_components/ionic/scss/_animations.scss */
  to {
    -moz-transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  /* line 67, ../bower_components/ionic/scss/_animations.scss */
  from {
    transform: translateX(100%);
  }

  /* line 68, ../bower_components/ionic/scss/_animations.scss */
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOutToLeft {
  /* line 76, ../bower_components/ionic/scss/_animations.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 77, ../bower_components/ionic/scss/_animations.scss */
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@-moz-keyframes slideOutToLeft {
  /* line 80, ../bower_components/ionic/scss/_animations.scss */
  from {
    -moz-transform: translateX(0);
  }

  /* line 81, ../bower_components/ionic/scss/_animations.scss */
  to {
    -moz-transform: translateX(-100%);
  }
}

@keyframes slideOutToLeft {
  /* line 84, ../bower_components/ionic/scss/_animations.scss */
  from {
    transform: translateX(0);
  }

  /* line 85, ../bower_components/ionic/scss/_animations.scss */
  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideOutToRight {
  /* line 93, ../bower_components/ionic/scss/_animations.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 94, ../bower_components/ionic/scss/_animations.scss */
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

@-moz-keyframes slideOutToRight {
  /* line 97, ../bower_components/ionic/scss/_animations.scss */
  from {
    -moz-transform: translateX(0);
  }

  /* line 98, ../bower_components/ionic/scss/_animations.scss */
  to {
    -moz-transform: translateX(100%);
  }
}

@keyframes slideOutToRight {
  /* line 101, ../bower_components/ionic/scss/_animations.scss */
  from {
    transform: translateX(0);
  }

  /* line 102, ../bower_components/ionic/scss/_animations.scss */
  to {
    transform: translateX(100%);
  }
}

@-webkit-keyframes fadeOut {
  /* line 110, ../bower_components/ionic/scss/_animations.scss */
  from {
    opacity: 1;
  }

  /* line 111, ../bower_components/ionic/scss/_animations.scss */
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 114, ../bower_components/ionic/scss/_animations.scss */
  from {
    opacity: 1;
  }

  /* line 115, ../bower_components/ionic/scss/_animations.scss */
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 118, ../bower_components/ionic/scss/_animations.scss */
  from {
    opacity: 1;
  }

  /* line 119, ../bower_components/ionic/scss/_animations.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  /* line 127, ../bower_components/ionic/scss/_animations.scss */
  from {
    opacity: 0;
  }

  /* line 128, ../bower_components/ionic/scss/_animations.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 131, ../bower_components/ionic/scss/_animations.scss */
  from {
    opacity: 0;
  }

  /* line 132, ../bower_components/ionic/scss/_animations.scss */
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 135, ../bower_components/ionic/scss/_animations.scss */
  from {
    opacity: 0;
  }

  /* line 136, ../bower_components/ionic/scss/_animations.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  /* line 144, ../bower_components/ionic/scss/_animations.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  /* line 147, ../bower_components/ionic/scss/_animations.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 150, ../bower_components/ionic/scss/_animations.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* line 154, ../bower_components/ionic/scss/_animations.scss */
.no-animation > .ng-enter, .no-animation.ng-enter, .no-animation > .ng-leave, .no-animation.ng-leave {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 159, ../bower_components/ionic/scss/_animations.scss */
.noop-animation > .ng-enter, .noop-animation.ng-enter, .noop-animation > .ng-leave, .noop-animation.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 171, ../bower_components/ionic/scss/_animations.scss */
.ng-animate .pane {
  position: absolute;
}

/**
 * Slide Left-Right
 * --------------------------------------------------
 * NEW content slides IN from the RIGHT, OLD slides OUT to the LEFT
 * Reverse: NEW content slides IN from the LEFT, OLD slides OUT to the RIGHT
 */
/* line 185, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right > .ng-enter, .slide-left-right.ng-enter,
.slide-left-right > .ng-leave, .slide-left-right.ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 193, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right > .ng-enter, .slide-left-right.ng-enter {
  /* NEW content placed far RIGHT BEFORE it slides IN from the RIGHT */
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 197, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right > .ng-enter.ng-enter-active, .slide-left-right.ng-enter.ng-enter-active {
  /* NEW content ACTIVELY sliding IN from the RIGHT */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 201, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right > .ng-leave.ng-leave-active, .slide-left-right.ng-leave.ng-leave-active {
  /* OLD content ACTIVELY sliding OUT to the LEFT */
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 207, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right.reverse > .ng-enter, .slide-left-right.reverse.ng-enter, .slide-left-right.reverse > .ng-leave, .slide-left-right.reverse.ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 215, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right.reverse > .ng-enter, .slide-left-right.reverse.ng-enter {
  /* NEW content placed far LEFT BEFORE it slides IN from the LEFT */
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 219, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right.reverse > .ng-enter.ng-enter-active, .slide-left-right.reverse.ng-enter.ng-enter-active {
  /* NEW content ACTIVELY sliding IN from the LEFT */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 223, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right.reverse > .ng-leave.ng-leave-active, .slide-left-right.reverse.ng-leave.ng-leave-active {
  /* OLD content ACTIVELY sliding OUT to the RIGHT */
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/**
 * iOS7 style slide left to right 
 * --------------------------------------------------
 */
/* line 240, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right-ios7 > .ng-enter, .slide-left-right-ios7.ng-enter,
.slide-left-right-ios7 > .ng-leave, .slide-left-right-ios7.ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  left: -1px;
  width: auto;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
/* line 251, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right-ios7 > .ng-enter, .slide-left-right-ios7.ng-enter {
  /* NEW content placed far RIGHT BEFORE it slides IN from the RIGHT */
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 255, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right-ios7 > .ng-enter.ng-enter-active, .slide-left-right-ios7.ng-enter.ng-enter-active {
  /* NEW content ACTIVELY sliding IN from the RIGHT */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 259, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right-ios7 > .ng-leave.ng-leave-active, .slide-left-right-ios7.ng-leave.ng-leave-active {
  /* OLD content ACTIVELY sliding OUT to the LEFT */
  -webkit-transform: translate3d(-15%, 0, 0);
  -moz-transform: translate3d(-15%, 0, 0);
  transform: translate3d(-15%, 0, 0);
}
/* line 265, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right-ios7.reverse > .ng-enter, .slide-left-right-ios7.reverse.ng-enter, .slide-left-right-ios7.reverse > .ng-leave, .slide-left-right-ios7.reverse.ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  left: -1px;
  width: auto;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
/* line 276, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right-ios7.reverse > .ng-enter, .slide-left-right-ios7.reverse.ng-enter {
  /* NEW content placed far LEFT BEFORE it slides IN from the LEFT */
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 280, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right-ios7.reverse > .ng-enter.ng-enter-active, .slide-left-right-ios7.reverse.ng-enter.ng-enter-active {
  /* NEW content ACTIVELY sliding IN from the LEFT */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 284, ../bower_components/ionic/scss/_animations.scss */
.slide-left-right-ios7.reverse > .ng-leave.ng-leave-active, .slide-left-right-ios7.reverse.ng-leave.ng-leave-active {
  /* OLD content ACTIVELY sliding OUT to the RIGHT */
  -webkit-transform: translate3d(15%, 0, 0);
  -moz-transform: translate3d(15%, 0, 0);
  transform: translate3d(15%, 0, 0);
}

/* line 293, ../bower_components/ionic/scss/_animations.scss */
.slide-in-left {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/* line 295, ../bower_components/ionic/scss/_animations.scss */
.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-animation-name: slideInFromLeft;
  -moz-animation-name: slideInFromLeft;
  animation-name: slideInFromLeft;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 301, ../bower_components/ionic/scss/_animations.scss */
.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-animation-name: slideOutToLeft;
  -moz-animation-name: slideOutToLeft;
  animation-name: slideOutToLeft;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 310, ../bower_components/ionic/scss/_animations.scss */
.slide-in-left-add {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 316, ../bower_components/ionic/scss/_animations.scss */
.slide-in-left-add-active {
  -webkit-animation-name: slideInFromLeft;
  -moz-animation-name: slideInFromLeft;
  animation-name: slideInFromLeft;
}

/* line 320, ../bower_components/ionic/scss/_animations.scss */
.slide-out-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 322, ../bower_components/ionic/scss/_animations.scss */
.slide-out-left.ng-enter, .slide-out-left > .ng-enter {
  -webkit-animation-name: slideOutToLeft;
  -moz-animation-name: slideOutToLeft;
  animation-name: slideOutToLeft;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 328, ../bower_components/ionic/scss/_animations.scss */
.slide-out-left.ng-leave, .slide-out-left > .ng-leave {
  -webkit-animation-name: slideOutToLeft;
  -moz-animation-name: slideOutToLeft;
  animation-name: slideOutToLeft;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 339, ../bower_components/ionic/scss/_animations.scss */
.slide-out-left-add {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 345, ../bower_components/ionic/scss/_animations.scss */
.slide-out-left-add-active {
  -webkit-animation-name: slideOutToLeft;
  -moz-animation-name: slideOutToLeft;
  animation-name: slideOutToLeft;
}

/* line 349, ../bower_components/ionic/scss/_animations.scss */
.slide-in-right {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/* line 351, ../bower_components/ionic/scss/_animations.scss */
.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-animation-name: slideInFromRight;
  -moz-animation-name: slideInFromRight;
  animation-name: slideInFromRight;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 357, ../bower_components/ionic/scss/_animations.scss */
.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-animation-name: slideInFromRight;
  -moz-animation-name: slideInFromRight;
  animation-name: slideInFromRight;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 365, ../bower_components/ionic/scss/_animations.scss */
.slide-in-right-add {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 371, ../bower_components/ionic/scss/_animations.scss */
.slide-in-right-add-active {
  -webkit-animation-name: slideInFromRight;
  -moz-animation-name: slideInFromRight;
  animation-name: slideInFromRight;
}

/* line 375, ../bower_components/ionic/scss/_animations.scss */
.slide-out-right {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 377, ../bower_components/ionic/scss/_animations.scss */
.slide-out-right.ng-enter, .slide-out-right > .ng-enter {
  -webkit-animation-name: slideOutToRight;
  -moz-animation-name: slideOutToRight;
  animation-name: slideOutToRight;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 383, ../bower_components/ionic/scss/_animations.scss */
.slide-out-right.ng-leave, .slide-out-right > .ng-leave {
  -webkit-animation-name: slideOutToRight;
  -moz-animation-name: slideOutToRight;
  animation-name: slideOutToRight;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 393, ../bower_components/ionic/scss/_animations.scss */
.slide-out-right-add {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 399, ../bower_components/ionic/scss/_animations.scss */
.slide-out-right-add-active {
  -webkit-animation-name: slideOutToRight;
  -moz-animation-name: slideOutToRight;
  animation-name: slideOutToRight;
}

/* line 403, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
/* line 408, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up.ng-enter, .slide-in-up .ng-enter {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  -moz-animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
}
/* line 419, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up.ng-enter-active, .slide-in-up .ng-enter-active {
  -webkit-animation-name: slideInUp;
  -moz-animation-name: slideInUp;
  animation-name: slideInUp;
}
/* line 423, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up.ng-leave, .slide-in-up .ng-leave {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  -moz-animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 429, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up.ng-leave-active, .slide-in-up .ng-leave {
  -webkit-animation-name: slideOutUp;
  -moz-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

/* line 434, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up-add {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  -moz-animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 439, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up-add-active {
  -webkit-animation-name: slideInUp;
  -moz-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 443, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up-remove {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  -moz-animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 448, ../bower_components/ionic/scss/_animations.scss */
.slide-in-up-remove-active {
  -webkit-animation-name: slideOutUp;
  -moz-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

/* line 452, ../bower_components/ionic/scss/_animations.scss */
.fade-in {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
}
/* line 454, ../bower_components/ionic/scss/_animations.scss */
.fade-in.active {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

/* line 460, ../bower_components/ionic/scss/_animations.scss */
.fade-in-not-out.ng-enter, .fade-in-not-out .ng-enter {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  position: relative;
}
/* line 464, ../bower_components/ionic/scss/_animations.scss */
.fade-in-not-out.ng-leave, .fade-in-not-out .ng-leave {
  display: none;
}

/**
 * Some component specific animations
 */
/* line 476, ../bower_components/ionic/scss/_animations.scss */
.nav-title-slide-ios7 > .ng-enter, .nav-title-slide-ios7.ng-enter,
.nav-title-slide-ios7 > .ng-leave, .nav-title-slide-ios7.ng-leave {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
/* line 481, ../bower_components/ionic/scss/_animations.scss */
.nav-title-slide-ios7 > .ng-enter, .nav-title-slide-ios7.ng-enter {
  -webkit-transform: translate3d(30%, 0, 0);
  -moz-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
  opacity: 0;
}
/* line 485, ../bower_components/ionic/scss/_animations.scss */
.nav-title-slide-ios7 > .ng-enter.ng-enter-active, .nav-title-slide-ios7.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
/* line 489, ../bower_components/ionic/scss/_animations.scss */
.nav-title-slide-ios7 > .ng-leave.ng-leave-active, .nav-title-slide-ios7.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
  opacity: 0;
}
/* line 496, ../bower_components/ionic/scss/_animations.scss */
.nav-title-slide-ios7.reverse > .ng-enter, .nav-title-slide-ios7.reverse.ng-enter,
.nav-title-slide-ios7.reverse > .ng-leave, .nav-title-slide-ios7.reverse.ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  opacity: 1;
}
/* line 500, ../bower_components/ionic/scss/_animations.scss */
.nav-title-slide-ios7.reverse > .ng-enter, .nav-title-slide-ios7.reverse.ng-enter {
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
  opacity: 0;
}
/* line 504, ../bower_components/ionic/scss/_animations.scss */
.nav-title-slide-ios7.reverse > .ng-enter.ng-enter-active, .nav-title-slide-ios7.reverse.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
/* line 508, ../bower_components/ionic/scss/_animations.scss */
.nav-title-slide-ios7.reverse > .ng-leave.ng-leave-active, .nav-title-slide-ios7.reverse.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(30%, 0, 0);
  -moz-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
  opacity: 0;
}

/* line 34, ../sass/app.sass */
.addbookform input.ng-invalid.ng-dirty {
  border-color: #a94442;
  background-color: #f2dfde;
}
/* line 38, ../sass/app.sass */
.addbookform input.ng-valid.ng-dirty {
  border-color: #3c763d;
  background-color: #bbdcbc;
}
