/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/modules/_grid.sass */
.column {
  float: left;
  margin-right: 6%;
}
/* line 4, ../sass/modules/_grid.sass */
.column:last-of-type {
  margin-right: 0;
}

/* line 7, ../sass/modules/_grid.sass */
.half {
  width: 46%;
}

/* line 1, ../sass/modules/_startup.sass */
.startup {
  background: #537c56;
  height: 100%;
}
/* line 4, ../sass/modules/_startup.sass */
.startup header {
  height: 43.5%;
  padding: 70px 0 0;
}
/* line 7, ../sass/modules/_startup.sass */
.startup article {
  height: 56.5%;
}
/* line 10, ../sass/modules/_startup.sass */
.startup img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

/* line 1, ../sass/modules/_general.sass */
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/modules/_general.sass */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  overflow: hidden;
  position: relative;
}

/* line 15, ../sass/modules/_general.sass */
.left {
  float: left;
}

/* line 18, ../sass/modules/_general.sass */
.right {
  float: left;
}

/* line 21, ../sass/modules/_general.sass */
.center {
  text-align: center;
}

/* line 24, ../sass/modules/_general.sass */
.main-window {
  padding: 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 84px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 34, ../sass/modules/_general.sass */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 38, ../sass/modules/_general.sass */
.clearfix:after {
  clear: both;
}

/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 46, ../sass/modules/_general.sass */
.clearfix {
  *zoom: 1;
}

/* line 50, ../sass/modules/_general.sass */
a, a:active, a:link {
  text-decoration: none;
  color: inherit;
}

/* line 54, ../sass/modules/_general.sass */
*, header, a, div, section, li, ul {
  box-sizing: border-box;
}

/* line 57, ../sass/modules/_general.sass */
.item {
  margin-top: 1em;
}

/* line 60, ../sass/modules/_general.sass */
.search-container.full-width input[type=search] {
  width: 100%;
}

/* line 63, ../sass/modules/_general.sass */
h1, h2, h3, h4, h5, h6, p, label, a, li, ul {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/* line 1, ../sass/modules/_form.sass */
input {
  border: 1px #e6e6e6 solid;
  padding: 1em;
  margin: 0;
  border-radius: 3px;
  -webkit-appearance: none;
  width: 100%;
}

/* line 9, ../sass/modules/_form.sass */
label {
  margin-bottom: 0.5em;
  display: block;
}

/* line 14, ../sass/modules/_form.sass */
.search-container input[type=search] {
  width: 80%;
  border-radius: 3px 0 0 3px;
  padding-left: 0.75em;
  border-right: none;
  float: left;
}
/* line 21, ../sass/modules/_form.sass */
.search-container input[type=submit] {
  width: 20%;
  border-radius: 0 3px 3px 0;
  border: 1px #af5841 solid;
  float: left;
  -webkit-appearance: none;
  text-align: center;
  padding: 0.81rem 0;
}

/* line 29, ../sass/modules/_form.sass */
form {
  margin-top: 1em;
}

/* line 1, ../sass/modules/_list.sass */
ul.list {
  list-style: none;
  margin-top: 1em;
}
/* line 5, ../sass/modules/_list.sass */
ul.list li a {
  padding: 1em 0;
  border-top: 1px solid #e6e6e6;
  display: block;
}
/* line 9, ../sass/modules/_list.sass */
ul.list img {
  float: left;
  margin-right: 1em;
  max-width: 60px;
}

/* line 5, ../sass/modules/_quatro.sass */
.quatro a {
  display: block;
  float: left;
  width: 49%;
  margin-right: 2%;
  height: 141px;
  border: 1px solid white;
  color: white;
  padding: 0.5em;
  margin-top: 2rem;
}
/* line 17, ../sass/modules/_quatro.sass */
.quatro a:hover, .quatro a:active, .quatro a:focus {
  background: #537c56;
}
/* line 20, ../sass/modules/_quatro.sass */
.quatro a:nth-of-type(2n) {
  margin-right: 0;
}
/* line 23, ../sass/modules/_quatro.sass */
.quatro a:nth-of-type(n+3) {
  margin-top: 2%;
}

@font-face {
  font-family: "InconsolataReg";
  src: url("../fonts/inconsolata-regular-webfont.eot");
  src: url("../fonts/inconsolata-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/inconsolata-regular-webfont.woff") format("woff"), url("../fonts/inconsolata-regular-webfont.ttf") format("truetype"), url("../fonts/inconsolata-regular-webfont.svg#InconsolataReg") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "InconsolataBold";
  src: url("../fonts/inconsolata-bold-webfont.eot");
  src: url("../fonts/inconsolata-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/inconsolata-bold-webfont.woff") format("woff"), url("../fonts/inconsolata-bold-webfont.ttf") format("truetype"), url("../fonts/inconsolata-bold-webfont.svg#InconsolataBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

/* line 4, ../sass/modules/_typography.sass */
body {
  font-family: "InconsolataReg", helvetica neue, helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
}

/* line 9, ../sass/modules/_typography.sass */
input {
  font-size: 1em;
  font-family: "InconsolataReg", helvetica neue, helvetica, sans-serif;
}

/* line 14, ../sass/modules/_typography.sass */
h1, h2, h3, h4 {
  font-family: "InconsolataBold", helvetica neue, helvetica, sans-serif;
}

/* line 16, ../sass/modules/_typography.sass */
h1 {
  font-size: 2em;
}

/* line 18, ../sass/modules/_typography.sass */
h2 {
  font-size: 1.5em;
}

/* line 20, ../sass/modules/_typography.sass */
h3 {
  font-size: 1.2em;
}

/* line 22, ../sass/modules/_typography.sass */
p {
  font-size: 1em;
  line-height: 1.4;
  margin-top: 1em;
}

/* line 26, ../sass/modules/_typography.sass */
p.light {
  color: #999999;
  margin-top: 0;
}

/* line 29, ../sass/modules/_typography.sass */
.light {
  font-family: "InconsolataReg", helvetica neue, helvetica, sans-serif;
  font-weight: 200;
  color: #999999;
}

/* line 1, ../sass/modules/_header.sass */
.main-header {
  background: #537c56;
  padding: 2em 0.5em 0.75em;
  color: white;
}
/* line 6, ../sass/modules/_header.sass */
.main-header .left {
  float: left;
  width: 20%;
}
/* line 10, ../sass/modules/_header.sass */
.main-header .center {
  float: left;
  width: 60%;
  text-align: center;
}
/* line 15, ../sass/modules/_header.sass */
.main-header .right {
  float: left;
  width: 20%;
  text-align: right;
}
/* line 20, ../sass/modules/_header.sass */
.main-header a, .main-header a:active, .main-header a:visited {
  color: white;
  text-decoration: none;
  font-size: 0.75em;
}

/* line 26, ../sass/modules/_header.sass */
.circle-icon {
  border-radius: 1000px;
  border: 1px white solid;
  padding: 0.5em 0.75em;
  display: inline-block;
}

/* line 1, ../sass/modules/_buttons.sass */
a.button {
  border-radius: 3px;
  width: 100%;
  display: inline-block;
  color: white;
  padding: 1em;
  text-align: center;
}
/* line 8, ../sass/modules/_buttons.sass */
a.button.green {
  background: #537c56;
}

/* line 11, ../sass/modules/_buttons.sass */
.button:hover {
  background-color: inherit;
}

/* line 14, ../sass/modules/_buttons.sass */
.button:focus {
  background-color: #3f5d41;
}

/* line 17, ../sass/modules/_buttons.sass */
.button-group {
  margin-top: 1em;
}
/* line 19, ../sass/modules/_buttons.sass */
.button-group .button {
  margin-top: 1em;
}
/* line 21, ../sass/modules/_buttons.sass */
.button-group .button:first-of-type {
  margin-top: 0;
}

/* line 24, ../sass/modules/_buttons.sass */
.orange {
  background: #af5841;
  color: white;
}

/* line 28, ../sass/modules/_buttons.sass */
.gray {
  background: #e6e6e6;
  color: #444444 !important;
}

/* line 1, ../sass/modules/_check.sass */
.check {
  background: #af5841;
  border-radius: 1000px;
  color: white;
  padding: 4em;
  display: block;
  width: 145px;
  margin: 0 auto;
}

/* line 1, ../sass/modules/_bottom-button.sass */
.bottom-button {
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  background: #537c56;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  bottom: 0;
  margin-left: -50px;
  left: 50%;
  z-index: 1;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  padding: 10px 0 0 0px;
  text-align: center;
  line-height: 1.1rem;
}
/* line 22, ../sass/modules/_bottom-button.sass */
.bottom-button span {
  display: block;
  font-weight: 200;
  font-size: 12px;
}

/* line 28, ../sass/modules/_bottom-button.sass */
#thingy, #thingy2 {
  -webkit-transition: all 0.1s ease-in;
  transform: translate3d(0, 0, 0);
  position: absolute;
  bottom: 0;
  margin-left: -50px;
  left: 50%;
  color: white;
}

/* line 38, ../sass/modules/_bottom-button.sass */
#thingy.wrap {
  -webkit-transform: translate3d(-60px, -70px, 0);
}

/* line 40, ../sass/modules/_bottom-button.sass */
#thingy2.wrap {
  -webkit-transform: translate3d(60px, -70px, 0);
}

/* line 1, ../sass/modules/_animations.sass */
.tab {
  background: white;
  width: 100%;
}

/* line 5, ../sass/modules/_animations.sass */
.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
  background: inherit;
  -webkit-transition: ease-in-out 250ms;
  -moz-transition: ease-in-out 250ms;
  -o-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
}

/* line 17, ../sass/modules/_animations.sass */
.slide-left.ng-enter.ng-enter-active {
  position: absolute;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* line 22, ../sass/modules/_animations.sass */
.slide-left.ng-leave {
  z-index: 100;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* line 26, ../sass/modules/_animations.sass */
.slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 30, ../sass/modules/_animations.sass */
.slide-right.ng-enter {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 33, ../sass/modules/_animations.sass */
.slide-right.ng-enter.ng-enter-active,
.slide-right.ng-leave {
  position: absolute;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* line 39, ../sass/modules/_animations.sass */
.slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 25, ../sass/app.sass */
.addbookform input.ng-invalid.ng-dirty {
  border-color: #a94442;
  background-color: #f2dfde;
}
/* line 29, ../sass/app.sass */
.addbookform input.ng-valid.ng-dirty {
  border-color: #3c763d;
  background-color: #bbdcbc;
}
