.tab 
  background: #fff
  width: 100%

.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave
  position: absolute
  background: inherit
  @include transition(all ease-in-out 250ms)

.slide-left.ng-enter
  position: absolute
  width: 100%

.slide-left.ng-enter.ng-enter-active
  position: absolute
  width: 100%
  @include transform(translateX(0))

.slide-left.ng-leave 
  z-index: 100
  @include transform(translateX(0))

.slide-left.ng-leave.ng-leave-active
  opacity: 0
  @include transform(translateX(-100%))


.slide-right.ng-enter
  @include transform(translateX(-100%))

.slide-right.ng-enter.ng-enter-active, 
.slide-right.ng-leave
  position: absolute
  width: 100%
  @include transform(translateX(0))

.slide-right.ng-leave.ng-leave-active
  @include transform(translateX(100%))