/**
 * styles are borrowed from https://github.com/driftyco/ionic/blob/master/scss/_animations.scss
 * 
 */

.slide-left-right-ios7 > .ng-enter.ng-enter-active{
  /* NEW content ACTIVELY sliding IN from the RIGHT */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
}

.slide-left-right-ios7 > .ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-15%, 0, 0);
  -moz-transform: translate3d(-15%, 0, 0);
  transform: translate3d(-15%, 0, 0);
}

.slide-left-right-ios7 > .ng-enter,
.slide-left-right-ios7 > .ng-leave, {
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}


.tab {
  position: absolute;
  z-index: 1;
  top: 85px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
