// .slide.left.ng-enter,
// .slide.left.ng-leave,
// .slide.right.ng-enter,
// .slide.right.ng-leave {
//     position: absolute;
//     background: inherit;
//     -ms-transition: .25s ease-in-out;
//     -webkit-transition: .25s ease-in-out;
//     transition:  .25s ease-in-out;
// }
// .slide-left.ng-enter {
//   z-index: 101;
//   -webkit-transform: translateX(100%);
//   transform: translateX(100%);
// }

// .slide-left.ng-enter.ng-enter-active {
//   -webkit-transform: translateX(0);
//   transform: translateX(0);
// }
// .slide.left.ng-leave {
//     z-index: 100;
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
// }

// .slide.left.ng-leave.ng-leave-active {
//   -webkit-transform: translateX(-100%);
//   transform: translateX(-100%);
// }

.slide {
  position: relative;
}

.slide.ng-leave, .slide.ng-enter {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -ms-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  
  position:absolute;
  left: 0;
  right: 0;
}

.slide.left.ng-enter,
.slide.right.ng-leave.ng-leave-active {
  left: 100%;
  opacity: 0;
}

.slide.left.ng-enter.ng-enter-active,
.slide.left.ng-leave,
.slide.right.ng-enter.ng-enter-active,
.slide.right.ng-leave {
  left:0;
  opacity: 1;
}

.slide.left.ng-leave.ng-leave-active,
.slide.right.ng-enter {
  left: -100%;
  opacity: 0;
}

.tab {
  position: absolute;
  z-index: 1;
  top: 85px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
}