<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.xcode" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Stacks</name>
    <description>
        Your personal library on your phone.
    </description>
    <author email="hello@circle.co.ke" href="http://circle.co.ke">
        Circle Digital
    </author>

    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    
    <!-- perms for the connection plugin -->
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" />
    </feature>
    
    <!--perms for contacts -->
    <feature name="Contacts">
        <param name="ios-package" value="CDVContacts" />
    </feature>
</widget>
